
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/

.footer{    
    padding: 120px 0 25px;
    position: relative; 
    background: url('../img/bg-footer.jpg') no-repeat center top;
    background-size: cover;
    color: $color-white;
    position: relative;
    &:before{
        content: "";
        position: absolute;
        
        top: -100px;
        left: 50%;
        margin-left: 300px;
        background: url('../img/image-footer.png') no-repeat;
        background-size: cover;
        width: 441px;
        height: 810px;
    }
    
    &-nav{
        font-weight: 450;
        font-size: 24px;
        line-height: 48px;
        color: $color-white;
        text-align: center;
        &-item{
            display: inline-block;
            margin: 0 22px;
            &__link{
                color: $color-white;
                &:hover{
                    color: $color-yellow;
                }
            }
        }
        margin-bottom: 65px;
    }
    .tabs{
        margin-bottom: 65px;
    }
    
    &__bottom{
        position: relative;
        @include flexbox;
        @include align-items(flex-end);
        @include justify-content(space-between);
        font-size: 18px;
        line-height: 23px;
        padding-top: 20px;
        &:before{
            content: "";
            position: absolute;
            width: 830px;
            height: 1px;
            background: rgba($color-white, 0.2);
            left: calc(50% - 415px);
            top: 0;
        }
    }
    
    &__link{
        color: $color-white;
        &:hover{
            color:$color-yellow;
        }
    }
    &__develop{
        margin-top: 10px;
        margin-bottom: -10px;
        
        text-align: right;
        img{
            display: inline-block;
            vertical-align: bottom;
            margin-bottom: -3px;
            margin-left: 10px;
        }
    }
}

.social{    
       text-align: center;
        &-item{
            display: inline-block;
            margin: 0 10px;
            vertical-align: middle;
            &__link{
               color: $color-white;
                display: block;
                &:hover{
                   color: $color-yellow;
                }
                svg{
                    fill:currentColor;
                    display:inline-block;
                    vertical-align: middle;
                }
            }
        }
        
    }



@media screen and (max-width: 1199px) {
    .footer{
        padding-top: 60px;
    }
    .footer .tabs {
        margin-bottom: 40px;
    }
    .footer-nav{
        margin-bottom: 40px;
        font-size: 22px;
    }
    .footer__bottom{
        font-size: 17px;
    }
    .footer__develop img {
        margin-bottom: -5px;
        width: 140px;
    }
}

@media screen and (max-width: 991px) {
    .footer-nav{
        font-size: 18px;
        line-height: 24px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        padding-top: 10px;
    }
    .footer-nav {
        font-size: 24px;
        line-height: 44px;
    }
    .footer-nav-item{
        width: 100%;
        margin: 0;
    }
    .footer .tabs {
        margin-bottom: 20px;
    }
    .footer:before {
    
        background: url(../img/image-footer-2.png) no-repeat;
        background-size: contain;
        width: 225px;
        height: 425px;
        top: 100px;
        left: 0;
        margin: 0;
        top: auto;
        bottom: 80px;
    }
    
    .footer__bottom .y-col{
        width: 100%;
            text-align: center;
        &:nth-child(2){
            order: 1;
        }
         &:nth-child(1){
            order: 2;
        }
         &:nth-child(3){
            order: 3;
        }
         &:nth-child(4){
            order: 4;
        }
    }
    .footer__bottom {
        font-size: 16px;
    }
    .social{
        padding: 15px 0;
        &-item{
            margin:0 18px;
        }
    }
    .footer__develop {
        margin-top: -10px;
        margin-bottom: 5px;
        text-align: center;
    }
    .footer__develop img {
        margin-bottom: -8px;
        width: 120px;
        margin-left: 5px;
    }
}

@media screen and (max-width: 639px) {
    
}

@media screen and (max-width: 479px) {
   
    
}

@media screen and (max-width: 374px) {
    
}
